@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>FPT Training</h1>
    <h2>
    </h2>

</div>
<div class="row">
    <div class="col-md-4">
        @if (Request.IsAuthenticated && User.IsInRole("Trainee"))
        {

<p> <a onclick="window.location='@Url.Action("Index", "TraineeCourses")'" type="button" class="btn btn-default">Assigned Courses </a> </p>}
        @if (Request.IsAuthenticated && User.IsInRole("Trainer"))
        {

<p><a onclick="window.location='@Url.Action("Index", "TrainerTopics")'" type="button" class="btn btn-default">Assigned Topics</a></p>
                @Html.ActionLink(" Profile", "About", "Home")}
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
<p><a onclick="window.location='@Url.Action("UsersWithRoles", "ManageUsers")'" type="button" class="btn btn-default">Manage Accounts</a></p>}
        @if (Request.IsAuthenticated && User.IsInRole("TrainingStaff"))
        {

<p><a onclick="window.location='@Url.Action("Index", "Categories")'" type="button" class="btn btn-default">Manage Category &raquo;</a></p>

                <p><a onclick="window.location='@Url.Action("Index", "Courses")'" type="button" class="btn btn-default">Manage Courses &raquo;</a></p>

                                <p><a onclick="window.location='@Url.Action("Index", "Topics")'" type="button" class="btn btn-default">Manage Topics &raquo;</a></p>

                                                <p><a onclick="window.location='@Url.Action("Index", "ManagerStaffViewModels")'" type="button" class="btn btn-default">Manage Account &raquo;</a></p>

                                                                <p><a onclick="window.location='@Url.Action("Index", "TrainerTopics")'" type="button" class="btn btn-default">Assign Trainers To Topics &raquo;</a></p>

                                                                                <p><a onclick="window.location='@Url.Action("Index", "TraineeCourses")'" type="button" class="btn btn-default">Assign Trainee To Courses &raquo;</a></p>}
    </div>
</div>