﻿@model IEnumerable<hoangkhoa.Models.TrainerTopic>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>
@if (User.IsInRole("TrainingStaff"))
{
<p>
    <input type="search" placeholder="Find by name or email"
           name="searchTrainer" style="width:225px; height:33px;" />

    <input type="submit" value="Search" class="btn btn-primary" />

    @Html.ActionLink("View all Trainer", "Index", "TrainerTopics")
</p>
               
                {
                    @Html.ActionLink("Assign Trainer to Topic", "Create")
                }
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Trainer)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Topic)
                                        </th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                    </tr>

                                    @foreach (var item in Model)
                                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Trainer.UserName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Topic.Name)
                        </td>

                        <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>

                    </tr>
}

                                </table>}
@if (User.IsInRole("Trainer"))
{<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.Topic)
            </th>

            <th></th>
        </tr>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Topic.Name)
    </td>

</tr>
}
    </table>}

