@model FPTTraining0.Models.Course
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Course</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "Courses", FormMethod.Post))
{
    @Html.HiddenFor(p => p.Id)
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.EditorFor(p => p.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(p => p.Name, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
}
@Html.ActionLink("Back to Index", "Index")
