@model FPTTraining0.ViewModels.StaffDepartmentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create a new Staff</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "Staffs", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Staff.Name)
        @Html.TextBoxFor(p => p.Staff.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Staff.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Staff.StaffEmail)
        @Html.TextBoxFor(p => p.Staff.StaffEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Staff.StaffEmail, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Staff.PassEmail)
        @Html.TextBoxFor(p => p.Staff.PassEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Staff.PassEmail, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Staff.Department.Name)
        @Html.DropDownListFor(p => p.Staff.DepartmentId,
         new SelectList(Model.Departments, "Id", "Name"),
         "Select Department Name",
         new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
}
@Html.ActionLink("Back to Index", "Index")
